<h1>Register to Picanthrope</h1>
<%= form_for @user do |form| %>

  <% if form.object.errors.any? %>
 
      <strong>Could not register! Please pay attention for these errors:</strong>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>

  <% end %>

    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %><br>
    <%= form.label :username %><br>
    <%= form.text_field :username %><br>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %><br>
    <%= form.submit "Submit" %><br>

<% end %>